.mystyle {
    background-color: azure;
    display: grid;
    color: black;
    width: 100%;
    /* justify-content: space-between; */
    grid-template-columns: auto auto auto auto;
    /* border: green 2px solid; */
    /* left: 20px; */
}

@media screen and (max-width:400px) {
    .mystyle {
        display: grid;
        grid-template-columns: auto auto;
    }

}

.mystyle>div {
    border: 10px solid rgba(255, 0, 0, 0);
}

/* .mystyle2 {} */

.imgedit {
    max-width: auto;
    /* height: inherit; */
    /* border: 10px rgba(223, 61, 61, 1); */
}